/* UTILITIES */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }
   body {
    font-family: "Work Sans",Arial,sans-serif;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }
   /* NAVBAR STYLING STARTS */
.navc {
    display: grid;
    align-items: center;
    justify-content: center;
    padding: 6px;
    width: 63%;
    margin-left: auto;
    margin-right: auto;
    grid-auto-rows: minmax(10px,auto);
    grid-template-areas: 
    "logo menu"
    

   }
   .nav-links a {
    color: #ababab
   }
   .nav-links li a:hover{
    color: #00b39b;
   }
   /* LOGO */
   .icon{
    padding-top:70px ;

   }
   /* NAVBAR MENU */
   .menu {
    display: inline-flex;
    gap: 0em;
    font-size: 15px;
    padding: 10px;
   }
   .menu li:hover {
    border-radius: 5px;
    transition: 0.3s ease;
    color: #0088a9;
   }
   .menu li {
    padding: 10px 12px;
   }
   /* DROPDOWN MENU */
   .services {
   
   }
   .dropdown {
    


    display: none;
    padding-top: 10px;
    position: absolute;
    min-width: 220px;
    margin-left: -100px;
    margin-top: 5px;
    background: #fff;
    box-shadow: 0 5px 10px 0 #d3cfc9;
    z-index: 1;
  
  

   }
   .dropdown li + li {
    margin-top: 10px;
    margin: left 100px; ;
   }
   .dropdown li {
    padding: 0.5em 1em;
    width: 8em;
    text-align: center;
   white-space: nowrap;
   }
   .dropdown li:hover {
    color: #0088a9;
   }
   .services:hover .dropdown {
    display: block;
    color: #0088a9;
    box-shadow: #0088a9
   }
   .main{
    width: 63%;
    margin-left: auto;
    margin-right: auto
   }
   .icon{
    width: 40%;
    justify-content: center;
    display: block;
   margin-left: 50%;
   margin-top: 30px;
   justify-content: center;
    content: center;
   }
   .icon img{
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-left: auto;
    margin-right: auto;
   }
   .title{
    text-align: center;
    color:#00b39b ;
    font-size: 2.125rem;
    font-family: "Work Sans","Arial","sans-serif";
    margin: 1em 0;
    font-weight: 300;
    letter-spacing: -.3px;
   }
   .disc{
    display: grid;
    padding: 6px;
    width: 100%;
   
    grid-auto-rows: minmax(10px,auto);
    grid-template-areas: 
    "disc1 disc2"
   }
   .disc1{
    display: block;
    margin: 20px;
    font-weight: 400;
    font-family: "Roboto","Arial","sans-serif";
    color: #747474;
    line-height: 1.75;

   }
   .disc2{
    display: block;
    margin: 20px;
    font-weight: 400;
    font-family: "Roboto","Arial","sans-serif";
    color: #747474;
    line-height: 1.75;
   }



   .colon{
    margin: 0 -10px;
    box-sizing: inherit;
    display:flex;
    font-family: "Work Sans","Arial","sans-serif";

  
   }
   .colon1{
    background: #00b39b;
    text-shadow: none;
    transform: translate(0);
    opacity: 1;
    transition: all .35s ease 0s;
    display: inline-flex;
    margin: 10px;
    display: block;
    border-radius: 10px;
}
.col1{
    margin: 30px;
}
.colon2{
    background: #3d83df;
    text-shadow: none;
    transform: translate(0);
    opacity: 1;
    transition: all .35s ease 0s;
    display: inline-flex;
    margin: 10px;
    display: block;
    border-radius: 10px;
}
.col2{
    margin: 30px;
}
.colon3{
    background: #1b2734;
    text-shadow: none;
    transform: translate(0);
    opacity: 1;
    transition: all .35s ease 0s;
    display: inline-flex;
    margin: 10px;
    display: block;
    border-radius: 10px;
}
.col3{
    margin: 30px;
}
.colon p{
    font-size: 1.5em;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    color: #fff;
    font-family: "Work Sans","Arial","sans-serif";
    letter-spacing: -.3px;
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-bottom: 50px;
}
.colon h1{

    font-size: 1.5em;
    font-weight: 400;
    line-height: 1.2;
    color: #fff;
    font-family: "Work Sans","Arial","sans-serif";
    letter-spacing: -.3px;
    margin-top: 7px;
}
.collaboration{
    margin-bottom: 40px;
    margin-top: 40px;
}
.collaboration h1{
    float: left;
    width: 33%;
    font-size: 1.625em;
    margin: 0.25em 0 0.35em;
    padding-right: 1em;
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    color: #00b39b;
    text-shadow: none;

}
.logo-company {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 0;
    list-style: none;
    width: 67%;
    color: #747474;
}
.logo-company li {
    font-size: 1rem;
    display: inline-block;
    margin-top: 0;
    padding: 5px 0 5px 5px;
    

}

.logo-company li svg{
    fill: #747474;
    opacity: .55;
    width: 80%;
}
.jameda , .clinicloud, .gipo, .tuotempo {
    fill: #747474;
    opacity: .55;
    transition: all .2s ease 0s;
    filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    -webkit-filter: invert(98%) sepia(2%) saturate(0) hue-rotate(180deg) brightness(300%) contrast(0);
    opacity: .55;

}
.logo-company li svg:hover {
    fill: #00b39b;
  }
  .tuotempo:hover {
    opacity: 1;
    transition: all .2s ease 0s;
    filter: none;
    -webkit-filter: none;
    opacity: .55;
}
.jameda:hover {
    opacity: 1;
    transition: all .2s ease 0s;
    filter: none;
    -webkit-filter: none;
    opacity: .55;
}
.gipo:hover {
    opacity: 1;
    transition: all .2s ease 0s;
    filter: none;
    -webkit-filter: none;
    opacity: .55;
}
.clinicloud:hover {
    opacity: 1;
    transition: all .2s ease 0s;
    filter: none;
    -webkit-filter: none;
    opacity: .55;
}
.centrum{
    display: flex;
    background-color: #e5faf8;
    justify-content: center;
    width: 100%;
    
    

}
.text-logo{
    margin-top: 60px;
    width: 700px;

}
.text-logo h1 {
    display: flex;
    font-family: "Work Sans","Arial","sans-serif";
    font-weight: 300;
    letter-spacing: -.3px;
    font-size: 2.125rem;
    color: #00b39b;
}
.boxitmes{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 20px;
    width: 40%;
  
}
.box0,.box1,.box2,.box3,.box4{
    width-height: 100px;
    padding: 30px;
   
}
.box0 p,.box1 p,.box2 p,.box3 p {
    font-weight: 400;
    font-family: "Roboto","Arial","sans-serif";
    color: #747474;
    line-height: 1.3;
    text-align: center;
    font-size: .8125em;
    
}
.box0 h1,.box1 h1,.box2 h1,.box3 h1 {
    font-family: "Work Sans","Arial","sans-serif";
    font-weight: 300;
    letter-spacing: -.3px;
    font-size: 1.8461538462em;
    color: #00b39b;
    margin: 0.5em 0;

}
.box0{
    width: 270px;
}
.box0 ,.box1 ,.box2 ,.box3 {
    background-color: white;
    width: 240px;
    height: 270px;
    border-radius: 10px;
    text-align: center;
}
.text-logo p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-family: "Roboto","Arial","sans-serif";
    color: #747474;
    padding-top: 18px;

}
.text-logo {
    background-image: url("image/logobk.svg");
    background-position: center;
    background-position: top;
    background-position-x: -200px;
    background-size: 140%;
    background-position-y: -70px;
margin-left: 100px;
   
}
.offices{
    max-width: 460px;
    margin: 0 auto 4.1875rem;
    font-size: .875em;
    text-align: center;
    line-height: 1.3;
    padding-top: 50px;
}
.offices h1{
    font-family: Work Sans,Arial,sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
    color: #00b39b;
    ;
}
.offices p{
    font-weight: 400;
    font-family: "Roboto","Arial","sans-serif";
    color: #747474;
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin: 1.6em 0;
    letter-spacing: -.3px;
    text-indent: 50px;
}
.officessl{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    float: left;
    box-sizing: inherit;
}

.officessl img{
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;

}
.office__desc {
    font-size: 1.125em;
    font-weight: 400;
    line-height: 1.6666666667;
    padding: 1.1111111111em;
    
    color: #747474;
}

.btn {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    font-size: .75rem;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
    font-size: .625rem;
    padding: 1em 1.5em;
    float: right;
}
.officessl :hover{
    box-shadow: 2 2px 3px rgba(10, 68, 58, 0.1);

}

.join-us__header{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 70px;
    padding-bottom: 70px;
}
.join-us__header h1 {
    font-size: 2.0em;
    color: #333;
    margin-bottom: 0.75em;
    font-family: "Work Sans","Arial","sans-serif";
    font-weight: 300;
    letter-spacing: -.3px;
}
.btn1 {
  display: flex;
width: 230px;
height: 40px;
    outline: 0;
    border: 0;
    border-radius: 4px;
    padding: 1.1666666667em 1.5em;
    background: #3d83df;
    font-family: Roboto,Arial,sans-serif;
    line-height: 1em;
    color: #fff;
    font-weight: 700;
    letter-spacing: .04em;
    text-align: center;
    text-decoration: none!important;
    text-transform: uppercase;
    transition: all .2s ease 0s;
    font-size: .800rem;
   
}
.join-us__header > a{
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.mainfooter {
    border-top: 1px solid #eef2f2;
    text-align: center;
    padding: 1em 0;

    font-weight: 400;
    font-family: "Roboto","Arial","sans-serif";
    color: #ababab;;
    padding-top: 70px;
    font-size: 15px;
    line-height: 1.3;
    opacity: 0.8;
}

.sectioninner{
    zoom: 1;
    padding: 0 20px;
    margin: 0 auto;
    
}
.colon select {
    width: 100%;
    background: transparent;
    border: 0;
    border-radius: 0;
    padding: 0 2em 0 0;
    outline: 0;
    text-transform: none;
    text-decoration: underline;
    cursor: pointer;
    font-size: 17px;
    color: white;
    
}
option{
    font-size: 14px;
    color: black;
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 3;
    background: hsla(0,0%,100%,.98);
    transition: box-shadow .25s ease 0s;
    box-shadow: 0 -2px 10px 0 rgb(0 0 0 / 15%);
    
  }
  